# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings (optional)
.vscode/

# Test cache
.pytest_cache/

# Git and GitHub
gha_deploy_key
gha_deploy_key.pub
gha_deploy_key.b64