# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings (optional)
.vscode/

# Test cache
.pytest_cache/

# Git and GitHub
gh-actions-deploy
gh-actions-deploy.pub

# Terraform
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfstate.backup

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log
